#!/usr/bin/env python3

PACKAGE = "social_costmap"

import sys
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled",    bool_t,   0, "Whether to apply this plugin or not ", True)
gen.add("amplitude",  double_t, 0, "Amplitude of adjustments at peak", 150.0, 0.0, 254.0)
gen.add("adult_radius", double_t, 0, "Radius of adult", 1.0, 0.0, 10.0)
gen.add("child_radius", double_t, 0, "Radius of child", 2.0, 0.0, 10.0)

exit(gen.generate(PACKAGE, "social_costmap", "AgeBasedLayer"))
